.unstyled-ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.expense-container,
.expense-container-header {
    width: 100%;
}

.expenses-list {
    margin-top: 16px;
}

.expense-list-item {
    justify-content: space-between;
    height: 60px;
    border-bottom: 1px solid grey;
    padding: 8px;
}

.expense-date-container {
    width: 60px;
    height: 100%;
}

.center-all {
    justify-content: center;
    align-items: center;
}

.expense-description-container {
    width: calc(70% - 60px);
    padding: 0 16px;
}

.owe-details {
    padding: 0 16px;
}

.owe-details {
    width: calc(30% - 0px);
}

.owe-details-cell {
    width: 50%;
    text-align: center;
}